---
layout: default
title: Arbor Workflows
author: Luke Harmon
---

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        <h2 id="use-arbor">Use Arbor</h2>

<p><a href="https://arbor.kitware.com/#"><img src="/arborCollections/assets/arbor_square.jpeg" alt="arbor"> Build workflows</a> | <a href="/arborCollections/easy"><img src="/arborCollections/assets/easy_mode.jpeg" alt="easy"> Easy mode</a></p>

<hr>

<h2 id="get-help">Get help</h2>

<p><a href="/arborCollections/quick"><i class="fa fa-coffee fa-2x"></i> Quick start</a> | <a href="/arborCollections/docs"><i class="fa fa-book fa-2x"></i> Documentation</a></p>

<hr>

<h2 id="interact-with-us">Interact with us</h2>

<p><a href="/arborCollections/blog"><i class="fa fa-quote-left fa-2x"></i> Arbor blog</a></p>

<hr>

<div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h5 class="h5 post-title">{{ post.title }}</h5></a>
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
